/flexiblesusy/
*/*/*/*/*/.DS_Store
*/*/*/*/.DS_Store
*/*/*/.DS_Store
*/*/.DS_Store
*/.DS_Store
.DS_Store
include/data.hpp
include/self_energy.hpp
include/cmake_variables.hpp
src/amp_*cpp
src/self_energy.cpp
build/
extras/pv_functions/Figures/Figures/
extras/pv_functions/Figures/data/
extras/pv_functions/build/
mass_splittings/data2/MDMbackup/
mass_splittings/figures/
models/MDM/FA_diagrams/
models/MSSM/FA_diagrams/
models/MSSM/LaTeX/
models/MSSM/old_files/
models/QED/FA_diagrams/
models/QED/LaTeX/
models/QED/QED/
models/Scalar/FA_diagrams/
models/Scalar/LaTeX/
models/VDM/FA_diagrams/
models/VDM/lists/
models/itMSSM/FA_diagrams/
models/itMSSM/LaTeX/
models/itMSSM/lists/
models/xiMSSM/LaTeX/
scripts/fMDM/
scripts/itMSSM/

